@page "/"
@using Microsoft.AspNetCore.Authorization
@using Model
@using Shared.Model.Entities
@inject HttpClient Http
@inject IJSRuntime JS
@inject NavigationManager Navigation
@attribute [Authorize]

<PageTitle>Home</PageTitle>

<h1>Home</h1>
@if (videos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container text-center">
        <div class="row align-items-start">
            @foreach (var video in videos)
            {
                <div class="col-md-6">
                    <div class="card" style="width: 18rem;">
                        <img src="https://avatars.mds.yandex.net/i?id=759f0fe35056b1ae0ad447d6800334a1_l-5277860-images-thumbs&n=13" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@video.Title</h5>
                            <p class="card-text">@video.Description</p>
                            <a href="@($"video/{video.Id}")" class="btn btn-primary">Go</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

@code {
    private List<VideoItem>? videos;

    protected override async Task OnInitializedAsync()
    {
        videos = await Http.GetFromJsonAsync<List<VideoItem>>("api/video/getall");
    }
}
